<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

	{{ partial "header.html" . }}

	{{ range .Site.Params.sections }}
	{{ partial . $ }}
	{{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>

</html>
<!-- endinject -->
